<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
    
  </a>
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="https://commons.wikimedia.org/wiki/File:Rainier20200906.jpg" >
    Header image: Mount Rainier by Caleb Riston {{ partial "ico" "creative-commons" }}{{ partial "ico" "creative-commons-zero" }}
    
  </a>
    <div>{{ partialCached "social/follow.html" . }}</div>
  </div>
</footer>
